body{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0;

}


.container{
  margin: 0 auto;
  width: 570px;
}

h1{
  font-size: 40px;
  font-weight: 300;
  color: #FFF;
  margin-top: 0;
}


h2{
  font-size: 30px;
  font-weight: normal;
  margin-top: 0;
  border-top: solid 1px #c4c4c4;
  border-bottom:  solid 1px #c4c4c4;
  padding: 20px 0px;
  margin-bottom: 20px;
}


h3{
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
  margin-bottom:  0;


}

p{
  margin-bottom:  0;
}

.my-most{
  color: #FFF;
}

.date{
  font-size: 13px;
  color: #FFF;
}

.name{
  color: #99d130;
  font-size: 80px;
  font-weight: 900;
  display: block;
}

.cloud{
  color: #99d130;
  font-size: 60px;
  font-weight: 900;
  display: block;
}


.article{
  color: #99d130;
  font-size: 40px;
  font-weight: 900;
  display: block;
}

a{
  color: #99D930
}

a:hover,
a:focus
{
  color: #131313;
}

.section-1{
  background-color: #252525;
  padding: 3px 100px;
  padding:  100px 0;
}

.section-2{
  background-color: #FFF;
  padding: 100px 0;
}

.section-3{
  background-color: #252525;
  padding: 100px 0;
  }


img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.btn{
  background-color: #99d930;
  color: #252525;
  display: inline-block;
  font-weight: bold;
  padding: 15px 28px;
  text-decoration: none;
  margin-top: 25px;
}

.btn:hover,
.btn:focus
{
  background-color: black;
  border: 0px solid #99d930;
  color: #fff;

}
